<app-header></app-header>
<div class="container">
        <div class="header">
                <h1>Tariffs</h1>
        </div>
<div *ngFor="let val of listval">
    <mat-grid-list cols="4" rowHeight="3:1" >
        <mat-grid-tile><img src="../../../assets/images/a1.JPG" class="img-set"></mat-grid-tile>
        <mat-grid-tile><h5>{{val.carName}}</h5></mat-grid-tile>
        <mat-grid-tile><h5>{{val.carSeats}} Seater</h5></mat-grid-tile>
        <mat-grid-tile><h5>Rate : {{val.carRate}}/km</h5></mat-grid-tile>
      </mat-grid-list>
      <hr>
</div>
</div>
