<div class="example-container">
    <h1>Tell us your Starting Point</h1>
    <mat-form-field>
        <mat-select placeholder="Select Your City">
          <mat-option value="option">Delhi NCR</mat-option>
          <mat-option value="option">Hyderabad</mat-option>
          <mat-option value="option">Visakhapatnam</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Enter Starting Point">
    </mat-form-field>

      <mat-checkbox class="mat-checkbox-layout" [(ngModel)]="checked">I want to drop my car in a different city</mat-checkbox>
    <br>
        <mat-form-field *ngIf="checked">
            <mat-select placeholder="Select Your City">
              <mat-option value="option">Delhi NCR</mat-option>
              <mat-option value="option">Hyderabad</mat-option>
              <mat-option value="option">Visakhapatnam</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="checked">
            <input matInput placeholder="Enter Destination Point">
        </mat-form-field>  
       
    <br><br>

    <button (click)="getPlace()" mat-flat-button color="primary">Submit</button>
</div>





<!-- <div class="example-container">
    <h1>Tell us your Starting Point</h1>
    <mat-form-field>
        <mat-select placeholder="Select Your City">
          <mat-option value="option">Delhi NCR</mat-option>
          <mat-option value="option">Hyderabad</mat-option>
          <mat-option value="option">Visakhapatnam</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter Starting Point">
    </mat-form-field>

    <mat-card  class="result">
        <mat-card-content>
            <mat-checkbox class="example-margin" [(ngModel)]="checked">I want to drop my car in a different city</mat-checkbox>
        </mat-card-content>
      
    <mat-card *ngIf="checked"  class="example-section" >
      <mat-card-content>    
            <mat-form-field>
                <mat-select placeholder="Select Your City">
                  <mat-option value="option">Delhi NCR</mat-option>
                  <mat-option value="option">Hyderabad</mat-option>
                  <mat-option value="option">Visakhapatnam</mat-option>
                </mat-select>
            </mat-form-field>
          <mat-form-field>
           <input matInput placeholder="Enter Destination Point">
          </mat-form-field>      
      </mat-card-content>    
    </mat-card>

    </mat-card>

    <br><br>
    <button (click)="getPlace()" mat-flat-button color="primary">Submit</button>
</div> -->