<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Input">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>









<!-- <div>
<h1>Tell us your Starting Point</h1>
<div>
  Enter Your City :<input type="text" placeholder="Enter Your City"><br><br>
  Tell us your Starting Point : <input type="text" placeholder="Enter Starting Point"><br><br>
  Tell us your Drop Location : <input type="text" placeholder="Enter Dropping Point"><br><br>
  <button (click)="getPlace()">Submit</button>
</div>
</div> -->
