<form [formGroup]="LoginFormGroup" (ngSubmit)="Login()">
<div class="example-container">
  <br>
  <h1>Login</h1>
  <br>

  <mat-form-field> 
    <input matInput input type="text" formControlName="UserName" required>
    <mat-placeholder class="placeholder">Enter Username</mat-placeholder>
  </mat-form-field>
<br>
  <mat-form-field>
    <input dividerColor="primary" matInput [type]="hide ? 'password' : 'text'" formControlName="Password" required>
    <mat-placeholder class="placeholder">Enter your password</mat-placeholder>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>

  
  <br>
  <div>
      <button mat-flat-button>Submit</button>
      <br><br>
      <a mat-flat-button routerLink='/signup'>Register</a>
  </div>
</div>
</form>



