<!-- <div class="container">
  <label for="uname"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="uname" required><br /><br>

  <label for="psw"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="psw" required><br /><br>
    
  <button type="submit">Login</button>
  <!-- <label> 
    <input type="checkbox" checked="checked" name="remember"> Remember me
  </label>  -->
<!-- </div> -->
<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form> -->