.example-container {
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    padding-right:30%;
    background-color:whitesmoke;
    opacity: 0.9;
    height:88vh;
  }
  
  .example-container > * {
    width: 100%;
  }
  h1{
      text-align: center;
  }

  button,a{
      width:100%;
  }