.example-card {
    width: 95%;
  /* height:30px; */
    }
  
    div{
      height: 100px;
    }
    
    mat-drawer-container {
      position: absolute;
      top: 80px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color:white;
      opacity: 0.89;
    }

    .location
    {
      width: 300px;
      border: 2px solid black;
      padding: 25px;
      margin: 25px;
      height:15vh;
    }
  
    .date
    {
      width: 300px;
      border: 2px solid black;
      padding: 25px;
      margin: 25px;
      height:25vh;
    }

    mat-drawer-content{
        top:10px;
        background-color:whitesmoke;
    }

    .example-radio-group {
      display: inline-flex;
      flex-direction: column;
    }
    
    .example-radio-button {
      margin: 5px;
    }
    
    .example-selected-value {
      margin: 15px 0;
    }
