<div class="example-container">
    <h1>SignUp</h1>
    <mat-form-field>
    <input matInput placeholder="FirstName"> 
    </mat-form-field>

    <mat-form-field>
    <input matInput placeholder="LastName"> 
    </mat-form-field>

    <mat-form-field>
    <input matInput placeholder="EmailId"> 
    </mat-form-field>
    
     <mat-form-field>
     <input matInput placeholder="Username"> 
     </mat-form-field>

     <mat-form-field>
     <input matInput placeholder="Password"> 
     </mat-form-field>
    
     <mat-form-field>
     <input matInput placeholder="ConfirmPassword"> 
     </mat-form-field><br>
     <div>
            <button mat-flat-button>Submit</button>
     </div>
    </div>

    
