.example-container {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
  }
  
  .example-container > * {
    width: 100%;
  }
  h1{
      padding-left: 50%;
  }
  button{
    font-size: 20px;
    padding-left: 10%;
}