<div class="example-container">
    <h1>SignUp</h1>
    <mat-form-field>
    <textarea matInput placeholder="FirstName"></textarea>
    </mat-form-field><br>

    <mat-form-field>
    <textarea matInput placeholder="LastName"></textarea>
    </mat-form-field><br>

    <mat-form-field>
    <textarea matInput placeholder="EmailId"></textarea>
    </mat-form-field><br>
    
     <mat-form-field>
     <textarea matInput placeholder="Username"></textarea>
     </mat-form-field><br>

     <mat-form-field>
     <textarea matInput placeholder="Password"></textarea>
     </mat-form-field><br>
    
     <mat-form-field>
     <textarea matInput placeholder="ConfirmPassword"></textarea>
     </mat-form-field><br>
     


    </div>
    <button mat-icon-button><b>Submit</b></button>
    
